h1 {
  font: montserrat-black;
  size: 3rem;
  line-height: 1.5;
  text-align: center;
}
a {
  size: 1.5rem;
  color: rgb(7, 7, 7);
  /* margin: auto 5px; */
}
h2{
    line-height: 2.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding: 5%; */
   
}
h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}
p {
  color: grey;
  font-weight: bold;
}

/* =============================header=========================== */
.tender {
  /* margin: 0 15px 145px 0; */
}

#title {
  background-color: hsl(0, 92%, 50%);
  width: 100%;
  height: 35rem;
  padding: 25px 45px;
}
.container-fluid {
  padding: 0% 15%;
}
.nav-link {
  /* border: 2px solid; */
  size: 1.5rem;
  color: rgb(7, 7, 7);
  margin: 0 15px 10px 0;
}
.phone {
  transform: rotate(25deg);
  width: 60%;
  margin: 25px 0 0 0 0;
  
}

/* ================================== */


#features {
  position: static;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
  background: rgb(165, 228, 146);
  
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.btn { 
  margin-left: 40px;
  /* border: 15px solid; */
}
/* =====================================image================== */
.feature-box img {
    height: 20%;
    width: 20%;
    border-radius: 50%;
    align-items: center;
    color: bisque;
    margin: 10px;
}
.featue-box:hover {
    color: black;
}
/* =====================================image end================== */

/* ==================================testimonials======================== */
#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.767);
    color: #fff;
    font-weight: bold;
    position: relative;
    z-index: 10;
}
#testimonials img {
    border-radius: 50%;
    margin: 10px;
    width: 10%;
}
/* ==================================testimonials end======================== */
/* ===========================press============================= */
#press {
    background-color: rgba(255, 0, 0, 0.767);
    color: #fff;
    font-weight: bold;
    text-align: center; 
    padding-bottom: 5%;
}
.press-logo {
    /* border: 10px solid; */
    width: 15%;
    margin: 20px 20px 50px;
}
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }
  .phone {
    position: static;
    transform: rotate(0);
  }
}

.wrapper{
  font-family:'Courier New', Courier, monospace;
  background: #eee;
  width: 900px;
  margin: 1% auto ;
  background: rgb(5, 207, 56);
}
.single-price {
  width: 33%;
  background: #262626;
  float: left;
  margin-top: 2%;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: 0.9s;
}
.price {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #da4357;
  margin: 3% auto 0 auto;
  
}
.deals {
  margin-top: 10%;
}
.single-price h1 {
  font-size: 18px;
  color: #fff;
  line-height: 3;
  text-transform: uppercase;
  /* text-align: center; */
}
.single-price h5 {
  font-size: 38px;
  color: #fff;
  margin: 35px 0 5px 0;

}
.deals h6 {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}
.single-price:hover {
  background: #da4357;
  color: #fff;
  box-shadow: 0 0  15px rgba(0, 0, 0, 0.1);
  transform: 1;
  z-index: 1;
  border-radius: 25px;
  transform: scale(1.1);
}
.pricing-table{
width: 100%;
height: 35rem;
background: red;
}
/* =========================================lest heading=================== */
#cta {
  background-color: aqua;
  height: 20rem;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 125px;
}
/* ===========================footer=================== */
#footer {
  text-align: center;
  font-size: 1.2rem;
  color: #eee;
  width: 100%;
  height: 4.8rem;
  background: black;

}
.icon {
  color: #eee;
  word-spacing: 20px;
  padding-top: 12px;

}